
    .one {
        margin-left: 50px;
        margin-top: 20px;
        top: 300px;
        // left: 119px;
        width: 1150px;
        // height: 866px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 3px 3px 3px 6px #00000029;
        border-radius:30px;
        opacity: 1;
        justify-content: space-between;
        box-sizing: border-box;
    }
.btn {
    text-decoration: none;
    // justify-content: space-between;
    margin-left: 10px;
    font-size: 15px;
}